<script setup>
import BuilderLayout from '@/Layouts/BuilderLayout.vue';
import { Head } from '@inertiajs/vue3';
</script>

<template>
    <Head title="Dashboard" />

    <BuilderLayout>
     
    </BuilderLayout>

</template>
