<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
import Icon from '@/Components/Icons/Icons.vue';
import { onMounted, ref, onBeforeMount, onUnmounted } from 'vue';
import axios from 'axios';
import { router } from '@inertiajs/vue3'

let props = defineProps({
    templates: {
        type: Array,
        default: () => ({}),
    },

    flash: {
        type: Array,
        default: () => ({}),
    },

});

const allTemplate = ref(props.templates);

console.log(props.flash);


let showTemplate = ref(false);
let projectName = ref(null);


// Code permettant de créer un utilisateur
const addProject = () => {
    router.post(route('template.store'), {
        templateName: projectName.value
    }, {
        onSuccess: () => {
            // Réinitialise le formulaire après la soumission réussie
            projectName.value = '';
            closeCreateTemplate();
        }
    });
}


// Code permettant de supprimer un utilisateur
let templateId = ref('');
const deleteTemplate = () => {
    router.post(route('template.destroy'), {
        templateId: templateId.value
    },
        {
            onSuccess: () => {
                templateId.value = '';
                router.get(route('dashboard'));
            }
        }
    );
}

// code permettant d'afficher le modale de creation de template
const showCreateTemplate = () => {
    showTemplate.value = true
}
// code permettant de faire disparaitre le modale de creation de template
const closeCreateTemplate = () => {
    showTemplate.value = false
}


// Fonction permet d'aller sur la page édit dun projet donné
const showSelectTemplate = (id) => {
    console.log(id);
    router.get(route('template.show', id))
}
// Fonction permet d'aller sur la page édit dun projet donné dans une nouvelle fenêtre
const showInBlank = () => {
    const url = `/template/show/${templateId.value}`;
    window.open(url, '_blank');
    templateId.value = '';

}


// Fonction d'affichage des méssages flash.
let successMessage = ref("");
let errorMessage = ref("");
onMounted(() => {
    successMessage.value = props.flash.success;
    errorMessage.value = props.flash.error;

    console.log(successMessage.value);
    console.log(errorMessage.value);
    // Effacement du message de notification après quelques secondes
    if (successMessage.value) {
        setTimeout(() => {
            successMessage.value = '';
        }, 3000);
    }
    // Effacement du message de notification après quelques secondes
    if (errorMessage.value) {
        setTimeout(() => {
            errorMessage.value = '';
        }, 3000);
    }
})


// Fonction me permettant d'afficher un modal pour le crud des template


const contextMenuVisible = ref(false);
const contextMenuTop = ref(0);
const contextMenuLeft = ref(0);

function showContextMenu(id) {
    event.preventDefault();
    templateId.value = id
    contextMenuVisible.value = !contextMenuVisible.value;
    contextMenuTop.value = event.clientY;
    contextMenuLeft.value = event.clientX;
}

function hideContextMenu() {
    contextMenuVisible.value = false;
}

onMounted(() => {
    document.addEventListener('click', hideContextMenu);
});

onUnmounted(() => {
    document.removeEventListener('click', hideContextMenu);
});
</script>

<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>

        <!-- Block de code permettant d'afficher les message flash-->
        <div v-if="successMessage"
            class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 absolute top-[1rem] right-[2rem] left-[8rem]"
            role="alert">
            <span class="sr-only">Info</span>
            <Icon name="exclam" />
            <div>
                <span class="font-medium">{{ successMessage }}</span>
            </div>
        </div>
        <div v-if="errorMessage"
            class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 absolute top-[1rem] right-[2rem] left-[8rem]"
            role="alert">
            <span class="sr-only">Info</span>
            <Icon name="exclam" />
            <div>
                <span class="font-medium">{{ errorMessage }}</span>
            </div>
        </div>

        <!-- Entète de la page -->
        <div class="flex-1 p-1 pt-5 pr-5 text-[#03224c]">
            <div class="flex items-center justify-between">
                <h2 class="flex flex-col gap-1 mb-4">
                    <span class="text-2xl font-bold">Projets</span>
                    <span>Gérez vos projets ici

                    </span>
                </h2>
                <div class="flex items-center justify-center gap-5">
                    <input type="text" placeholder="Recherche un projet"
                        class="px-2 py-1 pr-8 border border-gray-300 rounded-md focus:outline-none focus:border-teal-500">
                    <font-awesome-icon icon="search"
                        class="absolute text-gray-400 transform -translate-y-1/2 right-2 top-1/2" />


                    <div class="text-start ">
                        <button class="bg-[#4b39ef]  text-white px-3 py-1 rounded-xl font-bold" @click="showCreateTemplate">
                            Nouveau projets
                        </button>
                    </div>
                </div>
            </div>


            <!-- Ici on affiche tout les template que l'utilisateur à créer -->
            <div v-if="allTemplate" class="flex flex-wrap overflow-y-scroll gap-5 text-[#03224c]">

                <div v-for="template, index in allTemplate" :key="index" @click="showSelectTemplate(template.uuid)"
                    @contextmenu="showContextMenu(template.uuid)"
                    class="w-96 shadow-lg border bg-white rounded-lg p-4 cursor-pointer relative">


                    <h1 class="font-bold text-3xl">{{ template.template_name }}</h1>
                    <p class="text-[#03224c]">Modifié {{ template.last_updated }}</p>

                    <img src="/images/example.png" alt="example"
                        class=" relative top-8 w-full h-40 object-cover rounded-lg mb-4">
                    <div
                        class="absolute inset-0 bg-gradient-to-t from-[#4b39ef] to-transparent opacity-0 transition-opacity duration-300 hover:opacity-100  rounded-lg">
                    </div>

                </div>

                <div v-if="contextMenuVisible" :style="{ top: contextMenuTop + 'px', left: contextMenuLeft + 'px' }"
                    class="absolute  border shadow-2xl p-2 bg-slate-100  w-48 rounded-xl" @click.outside="hideContextMenu">
                    <div class="text-start flex flex-col  p-2 w-fdivl">


                        <a @click="showInBlank" class="hover:bg-white p-2 flex items-center gap-2  cursor-pointer rounded-md">
                            <Icon name="newtab" /> Ouvrir
                            
                        </a>


                        <!-- <a @click="renameTemplate" class="hover:bg-white p-2   flex items-center gap-3 cursor-pointer rounded-md"> <Icon name="rename" /> Renommer</a> -->

                        <a @click="deleteTemplate" class="hover:bg-white p-2 flex items-center gap-2 cursor-pointer  rounded-md text-red-500"><Icon name="smalldeleteIcon" /> Supprimer</a>

                    </div>
                </div>

            </div>

            <div v-if="allTemplate.length === 0" class="flex items-center justify-center"
                style="height: calc(100vh - 170px);">
                <div class="p-4 flex justify-center items-center text-[#03224c]">

                    <div>
                        <img class="w-[100%]" src="/images/web_design.gif" alt="Mon Image">
                    </div>

                    <div class="flex flex-col w-[500px]">

                        <h1 class="mb-5 text-2xl font-extrabold">
                            Bienvenue sur KMObuilder, votre outil de création de page web puissant et intuitif.
                        </h1>
                        <p>Explorez vos données, personnalisez votre interface et prenez des décisions éclairées. Profitez
                            de l'expérience KMObuilder pour visualiser et analyser vos informations en toute simplicité !
                        </p>

                        <div class="mt-5 text-start">
                            <button @click="showCreateTemplate"
                                class="bg-[#4b39ef] text-white px-3 py-2 rounded-xl font-bold">
                                Nouveaux projets
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Ceci est le modal qui permet la creation dun nouveau projet -->
        <div class="fixed top-0 left-0 flex items-center justify-center w-full h-full   bg-black bg-opacity-50 backdrop-filter backdrop-blur-sm"
            @click="closeCreateTemplate" v-if="showTemplate == true"> </div>

        <div class="absolute flex flex-col w-[1000px] h-[800px] p-10 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded top-1/2 left-1/2 text-[#03224c]"
            v-if="showTemplate == true">

            <div class="mb-4">
                <h2 class="text-4xl font-extrabold ">Créer un nouveau projet</h2>
                <p>Sélectionnez un modèle ou nommez votre projet et créez une application web vierge ci-dessous</p>
            </div>
            <div>
                <div class="mb-10">
                    <label for="projectName" class="block mb-2 font-semibold">Nom du projet:</label>
                    <input type="text" id="projectName" v-model="projectName"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-teal-500 focus:border-teal-500"
                        placeholder="Entrez le nom du projet">

                </div>
                <!-- <div>

                    <button type="submit" class="px-4 py-2 text-white bg-teal-500 rounded hover:bg-teal-600"
                        @click="addProject">Créer</button>
                </div> -->
            </div>
            <div class="grid grid-cols-3 gap-6 overflow-y-scroll">
                <div class="flex flex-col items-center justify-center p-4 bg-gray-200 rounded-lg">

                    <Icon name="newproject" />

                    <button @click="addProject" class="px-4 py-2 mt-4 text-white bg-teal-500 rounded-md hover:bg-teal-600">
                        Créer un projet vierge
                    </button>
                </div>
                <!-- <img src="/images/template.jpg" alt="Mon Image"> -->

                <div class="p-4 bg-gray-200 rounded-lg">
                    <img src="/images/template.jpg" alt="Template 2" class="object-cover w-full h-40 mb-4 rounded-lg">
                    <h3 class="mb-2 text-lg font-semibold">Template 1</h3>
                    <p class="text-sm">Description du Template 1</p>
                    <button class="px-4 py-2 mt-4 text-white bg-teal-500 rounded-md hover:bg-teal-600">
                        Sélectionner
                    </button>
                </div>
                <div class="p-4 bg-gray-200 rounded-lg">
                    <img src="/images/template.jpg" alt="Template 2" class="object-cover w-full h-40 mb-4 rounded-lg">
                    <h3 class="mb-2 text-lg font-semibold">Template 2</h3>
                    <p class="text-sm">Description du Template 2</p>
                    <button class="px-4 py-2 mt-4 text-white bg-teal-500 rounded-md hover:bg-teal-600">
                        Sélectionner
                    </button>
                </div>

                <div class="p-4 bg-gray-200 rounded-lg">
                    <img src="/images/template.jpg" alt="Template 3" class="object-cover w-full h-40 mb-4 rounded-lg">
                    <h3 class="mb-2 text-lg font-semibold">Template 3</h3>
                    <p class="text-sm">Description du Template 3</p>
                    <button class="px-4 py-2 mt-4 text-white bg-teal-500 rounded-md hover:bg-teal-600">
                        Sélectionner
                    </button>
                </div>
                <div class="p-4 bg-gray-200 rounded-lg">
                    <img src="/images/template.jpg" alt="Template 3" class="object-cover w-full h-40 mb-4 rounded-lg">
                    <h3 class="mb-2 text-lg font-semibold">Template 4</h3>
                    <p class="text-sm">Description du Template 4</p>
                    <button class="px-4 py-2 mt-4 text-white bg-teal-500 rounded-md hover:bg-teal-600">
                        Sélectionner
                    </button>
                </div>
                <div class="p-4 bg-gray-200 rounded-lg">
                    <img src="/images/template.jpg" alt="Template 3" class="object-cover w-full h-40 mb-4 rounded-lg">
                    <h3 class="mb-2 text-lg font-semibold">Template 5</h3>
                    <p class="text-sm">Description du Template 5</p>
                    <button class="px-4 py-2 mt-4 text-white bg-teal-500 rounded-md hover:bg-teal-600">
                        Sélectionner
                    </button>
                </div>

            </div>
        </div>

    </AuthenticatedLayout>
</template>



