<script setup>
import Navbar from '@/Components/Home/Navbar.vue';
import Hero from '@/Components/Home/Hero.vue';
import About from '@/Components/Home/About.vue';
import Pricing from '@/Components/Home/Pricing.vue';
import Footer from '@/Components/Home/Footer.vue';
import { dataStore } from '@/store/index';


const stores = dataStore();

const props = defineProps({
  canLogin: Boolean,
  canRegister: Boolean,
  laravelVersion: String,
  phpVersion: String,

});

stores.setConnectedData({
  login : props.canLogin,
  register : props.canRegister,
}


);


</script>

<script setup>
</script>

<template>
  <Navbar />
  <Hero />
  <About />
  <Pricing />
  <Footer />
</template>
