<template>
    <svg v-if="name === 'menubtn'" xmlns="http://www.w3.org/2000/svg" width="50" height="30" viewBox="0 0 92 92" id="menu">
        <path
            d="M78 23.5H14c-3.6 0-6.5-2.9-6.5-6.5s2.9-6.5 6.5-6.5h64c3.6 0 6.5 2.9 6.5 6.5s-2.9 6.5-6.5 6.5zM84.5 46c0-3.6-2.9-6.5-6.5-6.5H14c-3.6 0-6.5 2.9-6.5 6.5s2.9 6.5 6.5 6.5h64c3.6 0 6.5-2.9 6.5-6.5zm0 29c0-3.6-2.9-6.5-6.5-6.5H14c-3.6 0-6.5 2.9-6.5 6.5s2.9 6.5 6.5 6.5h64c3.6 0 6.5-2.9 6.5-6.5z">
        </path>
    </svg>


    <svg v-else-if="name === 'admin'" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="administrator">
        <path fill="#fff"
            d="M18 18H5.867C4.247 18 3 19.38 3 21v2h18v-2c0-1.62-1.38-3-3-3zM12 1a8 8 0 0 0-8 8c0 4.419 3.581 8 8 8s8-3.581 8-8a8 8 0 0 0-8-8zm-1 12L7.5 9.5 9 8l2 2 4-4 1.5 1.5L11 13z">
        </path>
    </svg>

    <svg v-else-if="name === 'closebtn'" xmlns="http://www.w3.org/2000/svg" width="50" height="30" viewBox="0 0 512 512"
        id="close">
        <path
            d="M437.5 386.6L306.9 256l130.6-130.6c14.1-14.1 14.1-36.8 0-50.9-14.1-14.1-36.8-14.1-50.9 0L256 205.1 125.4 74.5c-14.1-14.1-36.8-14.1-50.9 0-14.1 14.1-14.1 36.8 0 50.9L205.1 256 74.5 386.6c-14.1 14.1-14.1 36.8 0 50.9 14.1 14.1 36.8 14.1 50.9 0L256 306.9l130.6 130.6c14.1 14.1 36.8 14.1 50.9 0 14-14.1 14-36.9 0-50.9z">
        </path>
    </svg>
    <svg v-else-if="name === 'homeIcon'" xmlns="http://www.w3.org/2000/svg" width="25" fill="#fff" viewBox="0 0 24 24">
        <path fill="#fff"
            d="M6.64373233,18.7821107 L6.64373233,15.7152449 C6.64371685,14.9380902 7.27567036,14.3067075 8.05843544,14.3018198 L10.9326107,14.3018198 C11.7188748,14.3018198 12.3562677,14.9346318 12.3562677,15.7152449 L12.3562677,15.7152449 L12.3562677,18.7732212 C12.3562498,19.4472781 12.9040221,19.995083 13.5829406,20 L15.5438266,20 C16.4596364,20.0023291 17.3387522,19.6427941 17.9871692,19.0007051 C18.6355861,18.3586161 19,17.4867541 19,16.5775231 L19,7.86584638 C19,7.13138763 18.6720694,6.43471253 18.1046183,5.96350064 L11.4429783,0.674268354 C10.2785132,-0.250877524 8.61537279,-0.22099178 7.48539114,0.745384082 C7.48539114,0.745384082 0.967012253,5.96350064 0.967012253,5.96350064 C0.37274068,6.42082162 0.0175522924,7.11956262 0,7.86584638 L0,16.5686336 C0,18.463707 1.54738155,20 3.45617342,20 L5.37229029,20 C5.69917279,20.0023364 6.01348703,19.8750734 6.24547302,19.6464237 C6.477459,19.417774 6.60792577,19.1066525 6.60791706,18.7821107 L6.64373233,18.7821107 Z"
            transform="translate(2.5 2)" />
    </svg>

    <svg v-else-if="name === 'rename'" width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.73 33.64"
        id="text-edit">
        <g data-name="Layer 2">
            <g data-name="Layer 1">
                <path
                    d="M18.9 27.14H5a2.09 2.09 0 01-2.08-2.09V8.56A2.09 2.09 0 015 6.47H18.9V3.55H5a5 5 0 00-5 5V25.05a5 5 0 005 5H18.9zM28.72 3.55H25.21V6.47h3.51a2.1 2.1 0 012.09 2.09V25.05a2.1 2.1 0 01-2.09 2.09H25.21v2.92h3.51a5 5 0 005-5V8.56A5 5 0 0028.72 3.55z">
                </path>
                <polygon
                    points="27.07 1.72 27.07 0 16.93 0 16.93 1.72 20.35 1.72 20.35 31.93 16.93 31.93 16.93 33.65 27.07 33.65 27.07 31.93 23.76 31.93 23.76 1.72 27.07 1.72">
                </polygon>
                <rect width="13.45" height="3.35" x="5.23" y="15.16"></rect>
            </g>
        </g>
    </svg>

    <svg v-else-if="name === 'smalldeleteIcon'" width="20" fill="red" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 32 32">
        <path
            d="M24.2,12.193,23.8,24.3a3.988,3.988,0,0,1-4,3.857H12.2a3.988,3.988,0,0,1-4-3.853L7.8,12.193a1,1,0,0,1,2-.066l.4,12.11a2,2,0,0,0,2,1.923h7.6a2,2,0,0,0,2-1.927l.4-12.106a1,1,0,0,1,2,.066Zm1.323-4.029a1,1,0,0,1-1,1H7.478a1,1,0,0,1,0-2h3.1a1.276,1.276,0,0,0,1.273-1.148,2.991,2.991,0,0,1,2.984-2.694h2.33a2.991,2.991,0,0,1,2.984,2.694,1.276,1.276,0,0,0,1.273,1.148h3.1A1,1,0,0,1,25.522,8.164Zm-11.936-1h4.828a3.3,3.3,0,0,1-.255-.944,1,1,0,0,0-.994-.9h-2.33a1,1,0,0,0-.994.9A3.3,3.3,0,0,1,13.586,7.164Zm1.007,15.151V13.8a1,1,0,0,0-2,0v8.519a1,1,0,0,0,2,0Zm4.814,0V13.8a1,1,0,0,0-2,0v8.519a1,1,0,0,0,2,0Z" />
    </svg>


    <svg v-else-if="name === 'newtab'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
        id="open-in-new">
        <path fill="none" d="M0 0h24v24H0V0z"></path>
        <path
            d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z">
        </path>
    </svg>

    <svg v-else-if="name === 'userIcon'" width="40" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 32 32"
        viewBox="0 0 32 32" id="user">
        <path
            d="M16,0.5C7.45001,0.5,0.5,7.45001,0.5,16S7.45001,31.5,16,31.5S31.5,24.54999,31.5,16S24.54999,0.5,16,0.5z M26.54999,22.67999C24.39001,19.59998,20.44,17.64001,16,17.64001s-8.40002,1.95996-10.53998,5.06C4.22998,20.76001,3.5,18.45996,3.5,16C3.5,9.10999,9.10999,3.5,16,3.5S28.5,9.10999,28.5,16C28.5,18.45996,27.78003,20.75,26.54999,22.67999z">
        </path>
        <circle cx="16" cy="11" r="4.97"></circle>
    </svg>

    <svg v-else-if="name === 'three'" width="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="menu">
        <circle cx="12" cy="12" r="2" fill="#6563ff"></circle>
        <circle cx="5" cy="12" r="2" fill="#6563ff"></circle>
        <circle cx="19" cy="12" r="2" fill="#6563ff"></circle>
    </svg>

    <svg aria-hidden="true" v-else-if="name === 'exclam'" width="26" class="flex-shrink-0 inline w-5 h-5 mr-3"
        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"></path>
    </svg>


    <svg v-else-if="name === 'logout'" width="20" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        id="logout">
        <path
            d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z">
        </path>
    </svg>


    <svg v-else-if="name === 'newproject'" width="40" fill="#03224c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        id="add-folder">
        <path
            d="M14,12.5H13v-1a1,1,0,0,0-2,0v1H10a1,1,0,0,0,0,2h1v1a1,1,0,0,0,2,0v-1h1a1,1,0,0,0,0-2Zm5-7H12.72l-.32-1a3,3,0,0,0-2.84-2H5a3,3,0,0,0-3,3v13a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V8.5A3,3,0,0,0,19,5.5Zm1,13a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5.5a1,1,0,0,1,1-1H9.56a1,1,0,0,1,.95.68l.54,1.64A1,1,0,0,0,12,7.5h7a1,1,0,0,1,1,1Z">
        </path>
    </svg>
</template>

<script setup>
const props = defineProps({
    name: String,
})


function closeWindows() {
    const getBtnClose = document.getElementById('btn_close');
    console.log(getBtnClose);
    getBtnClose.addEventListener('click', function (event) {
        window.open('', '_self').close();
        console.log('fenêtre fermée');
    })

}

function endCall() {

}
</script>

<style></style>