@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar-thumb {
    background-color: #39d2c0;
    border-radius: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}

html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.active{
    border-radius: 0.5rem;
    background-color:#4b39ef;
}