<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import BuilderLayout from '@/Layouts/BuilderLayout.vue';
import { Head } from '@inertiajs/vue3';
// import { useStore } from 'pinia';
import { dataStore } from '@/store/index';

const store = dataStore();

let props = defineProps({
    template: {
        type: Array,
        default: () => ({}),
    },
});
// Mettre à jour les données du builder pour l'utilisateur
store.setUserData(props.template);

</script>

<template>
        <Head :title="props.template.template_name" />
       

        <BuilderLayout>
         
        </BuilderLayout>


</template>