<script setup>
import { Head, Link } from '@inertiajs/vue3';
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import { dataStore } from '@/store/index';
import { onMounted, ref } from 'vue';

const userStores = dataStore();


// Récupérer les données a afficher au click
const menuDisplay = userStores.getBuilderMenuClick;


const test =()=>{
    console.log(menuDisplay);
}


// Récupérer les données de l'utilisateur
const templateData = userStores.getTemplateData;
const pagesTemplate = ref([]);

onMounted(() => {
    axios.post(route("builderPage.index"), {
        template_id: templateData.id,
        count: pagesCount.value
    }).then(response => {
        console.log(response.data);
        pagesTemplate.value = response.data;
    })
});

const pagesCount = ref(1)

const createNewPage = (id) => {
    console.log(id);
    axios.post(route("builderPage.store"), {
        template_id: id,
        count: pagesCount.value
    }).then(response => {
        console.log(response.data);
        pagesTemplate.value = response.data;
    })
}

let pageComponents = ref([]);

const getPagesComponents = (id) => {
    console.log(id);
    axios.post(route("getpagecomponents"), {
        page_id: id,
    }).then(response => {
        console.log(response.data);
        pageComponents.value = response.data;
    })
}



/***
 * @author: marcosmedenou
 * @data :id(integer)
 * @function : Une fonction qui surveille le click sur l'un des chevrons pour effectuer un basculement
*/
const showPageContent = (id) => {
    console.log(id);
    if (up.value) {
        up.value = false;
        down.value = true
    } else {
        down.value = false;
        up.value = true;
    }
}

const toggleChevron = (pageId) => {
    const page = pagesTemplate.value.find(item => item.id === pageId);
    page.chevronUp = !page.chevronUp;
    if (page.chevronUp) {
        page.ActivePage = true;
        getPagesComponents(pageId)
    }
}

const isChevronUp = (pageId) => {
    const page = pagesTemplate.value.find(item => item.id === pageId);
    return !page.chevronUp;
}

const isActivePage = (pageId) => {
    const page = pagesTemplate.value.find(item => item.id === pageId);
    return page.chevronUp;
}




</script>

<template>
    <Head :title="templateData.template_name" />
    <div class="mt-[5rem]">
        <div class="w-64 p-2 rounded bg-grey-light" @click="test">
            <div class="flex items-center justify-between py-1">
                <div class="text-xl from-neutral-400 text-[#4b39ef]">
                    <h2>Liste des composants</h2>
                </div>
      
            </div>
            <div class="mt-2 text-sm">
             

            </div>
        </div>
 
    </div>
</template>

<style></style>
