<script setup>
import { Head, Link } from '@inertiajs/vue3';
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import { dataStore } from '@/store/index';
import { onMounted, ref } from 'vue';

const userStores = dataStore();

// Récupérer les données de l'utilisateur
const templateData = userStores.getTemplateData;
const pagesTemplate = ref([]);


onMounted(() => {
    axios.post(route("builderPage.index"), {
        template_id: templateData.id,
        count: pagesCount.value
    }).then(response => {
        console.log(response.data);
        pagesTemplate.value = response.data;
    })
});

const pagesCount = ref(1)

const createNewPage = (id) => {
    console.log(id);
    axios.post(route("builderPage.store"), {
        template_id: id,
        count: pagesCount.value
    }).then(response => {
        console.log(response.data);
        pagesTemplate.value = response.data;
    })

    pagesTemplate.value.push('Page ' + pagesCount.value);
    pagesCount.value++;
}

</script>

<template>
    <Head :title="templateData.template_name" />
    <div class="mt-6">
        <div class="flex items-center justify-between p-4 mb-4 bg-gray-50 rounded-xl ">
            <div>
                {{ templateData.template_name }}
            </div>
            <div class="p-1 border-2 rounded-full ">
                <button @click="createNewPage(templateData.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </button>
            </div>
        </div>

        <ol class="">
            <li class="w-full mt-2" v-for="item in pagesTemplate" :key="item">
                <div class="block max-w-full p-2 bg-gray-100 rounded-lg shadow-lg">
                    <div v-for="page in pagesTemplate" :key="page.id">
                        <h2 class="text-[#4b39ef] pl-3">{{ page.page_name }}</h2>
                        
                        <!-- <div v-for="component in page.components" :key="component.id">
                            <h3>{{ component.component_code }}</h3>
                            <p>{{ component.component_type }}</p>
                            <div v-html="component.component_html"></div>
                        </div> -->
                    </div>

                    <!-- <div class="flex justify-between">
                        <div>
                            <input type="text" class="w-32 bg-transparent border-transparent text-[#4b39ef]"
                                :value="item.page_name">
                        </div>
                        <div>{{ item.pagecomponents }}</div>


                        <div class="flex gap-2 text-gray-500">
                            <button class="p-1 border-2 border-gray-400 rounded-xl">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                </svg>
                            </button>
                            <button class="p-1 border-2 border-gray-400 rounded-xl">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </button>



                        </div>
                    </div> -->

                </div>
            </li>
        </ol>
    </div>
</template>

<style></style>
