<script setup>
import { Head, Link } from "@inertiajs/vue3";
import ApplicationLogo from "@/Components/ApplicationLogo.vue";
import { dataStore } from "@/store/index";
import { onMounted, ref } from "vue";

const userStores = dataStore();

// Récupérer les données a afficher au click
const menuDisplay = userStores.getBuilderMenuClick;

const test = () => {
  console.log(menuDisplay);
};

// Récupérer les données de l'utilisateur
const templateData = userStores.getTemplateData;
const pagesTemplate = ref([]);
const variable = ref(null);
const variable_affiche = ref(null);

onMounted(() => {
  axios
    .post(route("builderPage.index"), {
      template_id: templateData.id,
      count: pagesCount.value,
    })
    .then((response) => {
      pagesTemplate.value = response.data;
    });
});

const pagesCount = ref(1);

const createNewPage = (id) => {
  axios
    .post(route("builderPage.store"), {
      template_id: id,
      count: pagesCount.value,
    })
    .then((response) => {
      pagesTemplate.value = response.data;
    });
};

let pageComponents = ref([]);
let pagePart = ref();
let getAllAvailablePart = ref(false);

console.log(getAllAvailablePart);

const getPagesComponents = (id) => {
  axios
    .post(route("getpagecomponents"), {
      page_id: id,
    })
    .then((response) => {
      pageComponents.value = response.data;
    });
};

const getAllAvailablePartByComponents = (id) => {
  variable_affiche.value = id;
  axios.post("/typecomponent/index", { id: variable_affiche.value }).then((response) => {
    pagePart.value = response.data;
  });
};

const addComp = (type) => {
  axios.post("/addSousBlocDirect", { codeBalise: type, page_id: variable.value, bigBloc: variable_affiche.value }).then((response) => {
   variable_affiche.value = null
  });
};

const getSousBloc = (id) => {
  axios.post("/getSousBloc", { id: id }).then((response) => {
    console.log(response.data);
  });
};

/***
 * @author: marcosmedenou
 * @data :id(integer)
 * @function : Une fonction qui surveille le click sur l'un des chevrons pour effectuer un basculement
 */
const showPageContent = (id) => {
  if (up.value) {
    up.value = false;
    down.value = true;
  } else {
    down.value = false;
    up.value = true;
  }
};

const toggleChevron = (pageId) => {
  variable.value = pageId;
  const page = pagesTemplate.value.find((item) => item.id === pageId);
  page.chevronUp = !page.chevronUp;
  if (page.chevronUp) {
    page.ActivePage = true;
    getPagesComponents(pageId);
  }
};

const isChevronUp = (pageId) => {
  const page = pagesTemplate.value.find((item) => item.id === pageId);
  return !page.chevronUp;
};

const isActivePage = (pageId) => {
  const page = pagesTemplate.value.find((item) => item.id === pageId);
  return page.chevronUp;
};
</script>

<template>
  <Head :title="templateData.template_name" />
  <div
    class="px-2 mt-[4rem] py-4 bg-white border border-gray-200 shadow-md rounded-xl shadow-gray-100"
  >
    <div
      class="flex items-center justify-between px-2 text-base font-medium text-[#4b39ef] uppercase"
    >
      <div>{{ templateData.template_name }}</div>
      <div class="flex gap-2">
        <button
          class="flex items-center justify-center w-8 h-8 text-black bg-gray-200 rounded-full"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 18L18 6M6 6l12 12"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </button>
        <button
          class="flex items-center justify-center w-8 h-8 text-black bg-gray-200 rounded-full"
          @click="createNewPage(templateData.id)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="mt-4" v-for="(item, index) in pagesTemplate" :key="item">
      <div class="flex flex-col w-full overflow-y-scroll">
        <button
          class="group flex items-center justify-between gap-x-5 rounded-md px-2.5 py-2 transition-all duration-75 hover:bg-green-100"
        >
          <div
            class="flex items-center w-12 h-12 text-black bg-gray-200 rounded-lg group-hover:bg-green-200"
          >
            <span
              class="w-full text-lg font-medium text-center text-gray-700 tag group-hover:text-green-900"
            >
              {{ index + 1 }}
            </span>
          </div>
          <div
            class="flex flex-col items-start justify-between font-light text-gray-600"
          >
            <p class="text-[15px]">{{ item.page_name }}</p>
            <!-- <span class="text-xs font-light text-gray-400">Big section heading</span> -->
          </div>
          <div class="">
            <div>
              <button @click="toggleChevron(item.id)">
                <div v-if="isChevronUp(item.id)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.5 15.75l7.5-7.5 7.5 7.5"
                    />
                  </svg>
                </div>
                <div v-else class="from-neutral-500">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    />
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </button>
      </div>
      <div class="gap-2 mt-5" v-if="isActivePage(item.id)">

        <div
          v-if="variable == item.id ? variable : null"
          class="pl-4 mx-2 ml-4 text-teal-800 rounded cursor-pointer"
          v-for="(component, index) in pageComponents"
          :key="index"
        >
        <div
          class="absolute overflow-hidden bg-white rounded-lg shadow-lg left-80 min-h-64 lg:w-[20rem]"
          v-if="variable_affiche == component.id ? variable_affiche : null"
        >
          <p class="px-2 pt-3 mb-2 text-2xl font-thin text-gray-600">
            Liste des composants
          </p>
          <div class="px-2">
            <svg
              class="absolute z-50 m-1 text-blue-400"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.71 14H15.5L20.49 19L19 20.49L14 15.5V14.71L13.73 14.43C12.59 15.41 11.11 16 9.5 16C5.90997 16 3 13.09 3 9.5C3 5.90997 5.90997 3 9.5 3C13.09 3 16 5.90997 16 9.5C16 11.11 15.41 12.59 14.43 13.73L14.71 14ZM5 9.5C5 11.99 7.01001 14 9.5 14C11.99 14 14 11.99 14 9.5C14 7.01001 11.99 5 9.5 5C7.01001 5 5 7.01001 5 9.5Z"
                fill="black"
                fill-opacity="0.54"
              />
            </svg>
            <input
              type="text"
              class="relative w-full p-1 pl-8 bg-gray-200 rounded"
              placeholder="Rechercher un composant"
            />
          </div>
          <div class="flex flex-wrap gap-2 p-2">
            <div
              class="justify-between w-24 p-2 px-2 py-2 border-2"
              v-for="(htmlcomponent, index) in pagePart"
              :key="index"
            >
            <div @click="addComp(`${htmlcomponent.balise}`)">
                <span v-html="htmlcomponent.svg" class="font-extralight h-24">
              </span>
              <span class="flex justify-center">{{ htmlcomponent.type }}</span>
            </div>
            </div>
          </div>
        </div>
          <div
            class="flex p-2 mb-3 border border-gray-300 rounded-md cursor-pointer select-none each hover:shadow-lg hover:border-gray-500 justify-between"
          >
            <div class="left">
              <div class="text-xl font-semibold text-blue-600 uppercase header" @click="getSousBloc(`${component.id}`)">
                {{ component.component_type }}
              </div>
            </div>
            <div>
                <svg @click="getAllAvailablePartByComponents(`${component.id}`)"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
                  />
                </svg>
            </div>
          </div>
          
          <div
            class="flex p-1 ml-2 mb-3 border border-gray-300 rounded-md cursor-pointer select-none each hover:shadow-lg hover:border-gray-500 justify-between"
          >
            <div class="left">
              <div class="text-xl font-semibold text-cyan-600 lowercase header">
                {{ component.component_type }}
              </div>
            </div>
            <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
                  />
                </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style></style>
