<script setup>
import { Head } from '@inertiajs/vue3';
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import Icons from '@/Components/Icons/Icons.vue';
import ConfettiExplosion from "vue-confetti-explosion";
import { ref } from 'vue';
import { dataStore } from '@/store/index';

const store = dataStore();

let canLogin = ref(store.getConnectedData.login);
let canRegister = ref(store.getConnectedData.register);


const menuVisible = ref(false);
const showClosebtn = ref(false);
const showMenubtn = ref(true);

const showMenu = () => {
    menuVisible.value = !menuVisible.value
    showClosebtn.value = true;
    showMenubtn.value = false;
}

const closeMenu = () => {
    menuVisible.value = !menuVisible.value
    showClosebtn.value = false;
    showMenubtn.value = true;
}
</script>

<template>
    <Head title="Home" />
    <ConfettiExplosion :stageHeight="1500" :stageWidth="4200" :particleCount="600" :force="0.3" />


    <div class="sticky top-0 z-50 py-4 bg-white shadow-lg">
        <div class="flex items-center justify-between px-20 py-2 lg:container lg:mx-auto ">
            <div class="w-32 h-10">
                <ApplicationLogo />
            </div>
            <div>
                <nav class="hidden lg:flex">
                    <ul class="flex items-center justify-center gap-4 font-semibold cursor-pointer text-[#03224c]">


                        <li class="hover:text-[#39d2c0] hover:border-b hover:border-b-green-300">
                            <a href="/">Accueil</a>
                        </li>
                        <li class="hover:text-[#39d2c0] hover:border-b hover:border-b-green-300">
                            <a href="#">Templates</a>
                        </li>
                        <li class="hover:text-[#39d2c0] hover:border-b hover:border-b-green-300">
                            <a href="#">Nouveautés</a>
                        </li>
                        <li class="hover:text-[#39d2c0] hover:border-b hover:border-b-green-300">
                            <a href="#">A propos</a>
                        </li>
                        <li class="hover:text-[#39d2c0] hover:border-b hover:border-b-green-300">
                            <a href="/builder">Builder</a>
                        </li>

                    </ul>
                </nav>

                <nav v-if="menuVisible">
                    <ul
                        class="absolute bg-white border rounded-xl shadow-lg text-center container mx-auto top-[4rem] left-0 right-0   font-semibold cursor-pointer text-[#03224c] flex flex-col gap-5 py-4">

                        <li class="hover:text-[#39d2c0] ">
                            <a href="/">Accueil</a>
                        </li>
                        <li class="hover:text-[#39d2c0] ">
                            <a href="#">Templates</a>
                        </li>
                        <li class="hover:text-[#39d2c0] ">
                            <a href="#">Nouveautés</a>
                        </li>
                        <li class="hover:text-[#39d2c0] ">
                            <a href="#">A propos</a>
                        </li>

                        <div v-if="canLogin" class="">
                            <a v-if="$page.props.auth.user" href="/dashboard"
                                class=" font-semibold uppercase text-sm text-white bg-[#4b39ef] flex justify-center items-center px-3 pt-[.4rem]  rounded-full  py-1  hover:bg-[#39d2c0]">
                                Tableau de bord</a>

                            <template v-else>
                                <div class="flex items-center justify-center gap-5 font-semibold cursor-pointer ">
                                    <ul>
                                        <li class="hover:text-[#39d2c0] ">
                                            <a :href="route('login')">
                                                Connexion</a>

                                        </li>
                                        <li
                                            class="font-semibold uppercase text-sm mt-5 text-white bg-[#4b39ef] flex justify-center items-center px-3 pt-[.4rem]  rounded-full  py-1  hover:bg-[#39d2c0]">
                                            <a v-if="canRegister" :href="route('register')">
                                                Inscription</a>

                                        </li>
                                    </ul>
                                </div>
                            </template>
                        </div>

                    </ul>
                </nav>
            </div>


            <div class="hidden lg:flex">
                <div v-if="canLogin" class="">
                    <a v-if="$page.props.auth.user" href="/dashboard"
                        class="font-semibold uppercase text-sm text-white bg-[#4b39ef] flex justify-center items-center px-3 pt-[.4rem]  rounded-full  py-1  hover:bg-[#39d2c0]">
                        Tableau de bord</a>

                    <template v-else>
                        <div class="flex items-center justify-center gap-4 font-semibold cursor-pointer">

                            <a :href="route('login')" class="hover:text-[#39d2c0]  hover:border-b hover:border-b-green-300">
                                Connexion</a>

                            <a v-if="canRegister" :href="route('register')"
                                class="font-semibold uppercase text-sm text-white bg-[#4b39ef] flex justify-center items-center px-3 pt-[.4rem]  rounded-full  py-1  hover:bg-[#39d2c0]">
                                Inscription</a>
                        </div>
                    </template>
                </div>
            </div>

            <div class="lg:hidden">
                <Icons name="menubtn" @click="showMenu" v-if="showClosebtn == false" />
                <Icons name="closebtn" @click="closeMenu" v-if="showMenubtn == false" />
            </div>
        </div>
    </div>
</template>
