<template>
  <!-- <div class="flex flex-col items-center justify-center w-[5rem] mt-5 border-2">
    <div v-for="(el, index) in all_components">
  
      <span class="w-32 h-32" v-html="el.svg" ></span>
      <small>{{ el.type }}</small>

    </div>


  </div> -->
</template>
  
<script>
//modification @marcos medenou
import draggable from "vuedraggable";
import { mapGetters } from "vuex";
import axios from "axios";
export default {
  data() {
    return {
      all_components: null
    }
  },
  components: {
    draggable
  },
  computed: {
    ...mapGetters(["getWidgets"])

  },
  methods: {
    get_typeComponents() {
      axios.get('/typecomponent/index').then(response => {
        this.all_components = response.data;
        console.log(this.all_components);
      })
    }
  },
  mounted() {
    this.get_typeComponents()
  },

};
</script>
  
<style scoped>
.elements-wrapper {
  overflow: auto;
  max-height: 98%;
  margin-bottom: 200px;

  .row {
    .widgets {
      cursor: grab;

      &:hover {
        -webkit-box-shadow: -1px 9px 14px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 9px 14px -8px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 9px 14px -8px rgba(0, 0, 0, 0.75);
        transition: 0.3s;
      }
    }

    .not-available {
      .widgets {
        cursor: not-allowed;

        &:hover {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}
</style>