<script setup>
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import Icons from '@/Components/Icons/Icons.vue';
import { ref } from 'vue';

// import router from "./router";
defineProps({
    msg: {
        type: String,
        required: true
    }
})


const menuVisible = ref(false);
const showClosebtn = ref(false);
const showMenubtn = ref(true);

const showMenu = () => {
    menuVisible.value = !menuVisible.value
    showClosebtn.value = true;
    showMenubtn.value = false;
}

const closeMenu = () => {
    menuVisible.value = !menuVisible.value
    showClosebtn.value = false;
    showMenubtn.value = true;
}
</script>

<template>
    
    <div class="sticky top-0 z-50 py-4 bg-white shadow-lg">
        <div class="flex items-center justify-between px-20 py-2 lg:container lg:mx-auto ">
            <div class="w-32 h-10">
                <ApplicationLogo />
            </div>
            <div class="flex items-center">
                   
                    <a href="#"
                        class="hidden sm:inline-flex ml-5 text-white bg-[#4b39ef] hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center mr-3">
                        <!-- <svg class="svg-inline--fa fa-gem -ml-1 mr-2 h-4 w-4" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="gem" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M378.7 32H133.3L256 182.7L378.7 32zM512 192l-107.4-141.3L289.6 192H512zM107.4 50.67L0 192h222.4L107.4 50.67zM244.3 474.9C247.3 478.2 251.6 480 256 480s8.653-1.828 11.67-5.062L510.6 224H1.365L244.3 474.9z">
                            </path>
                        </svg> -->
                        Administrateur/Kola
                    </a>
                </div>
        </div>
    </div>
</template>
