<script setup>
defineProps({
    msg: {
        type: String,
        required: true
    }
})
</script>

<template>
    <div>
        <img src="/images/heropicture.svg" alt="Mon Image">
    </div>
</template>
