<script setup>
import Aside from '@/Layouts/Header.vue';
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import { ref, watch } from 'vue';
import { Head, useForm } from '@inertiajs/vue3';

let name = ref(null);
let email = ref(null);
let password = ref(null);
let confirmPass = ref(null);
let result = ref(null);
let error = ref(null);

// fonction appelée pour la création d'un compte administrateur
const createAdmin = () => {
    if (name.value !== null && email.value !== null && password.value !== null && confirmPass.value !== null) {
        if (password.value === confirmPass.value) {
            axios.post(route("create.admin"), { name: name.value, email: email.value, password: password.value, confirmPass: confirmPass.value, role: "Admin" }).then(response => {
                if (response.data.success) {
                    name.value = "";
                    email.value = "";
                    password.value = "";
                    confirmPass.value = "";
                    error.value = null;
                    result.value = response.data.success
                } else {
                    result.value = null;
                    error.value = response.data.error
                }
            })
        } else {
            result.value = null;
            error.value = "Les mots de passe ne sont pas conformes !!!";
        }
    }
}
</script>

<template>
    <Head title="Admin - Création des administrateurs" />

    <body class="bg-[#f1f4f8] flex gap-1">
        <Aside />
        <div class="w-full h-auto from-blue-100 p-4 flex items-center justify-center">
            <div class="bg-white py-6 px-10 sm:max-w-md w-full rounded-lg">
                <div class="sm:text-3xl text-2xl font-semibold text-center text-[#4b39ef] mb-8">
                    Créer un administrateur
                </div>
                <div v-if="error !== null" class="text-1xl font-semibold text-center text-red-600 mb-5">
                    {{ error }}
                </div>
                <div v-if="result !== null" class="text-1xl font-semibold text-center text-green-700  mb-5">
                    {{ result }}
                </div>
                <div>
                    <div>
                        <input type="text" v-model="name"
                            class="focus:border-cyan-600 rounded-lg px-4 border-b w-full pb-2 border-[#4b39ef] placeholder-gray-500 mb-8"
                            placeholder="Nom d'utilisateur" />
                    </div>
                    <div>
                        <input type="email" v-model="email"
                            class="focus:border-cyan-600 rounded-lg px-4 border-b w-full pb-2 border-[#4b39ef] placeholder-gray-500 mb-8"
                            placeholder="Adresse mail" />
                    </div>
                    <div>
                        <input type="password" v-model="password"
                            class="focus:border-cyan-600 rounded-lg px-4 border-b w-full pb-2 border-[#4b39ef] placeholder-gray-500 mb-8"
                            placeholder="Mot de passe par défaut" />
                    </div>
                    <div class="">
                        <input type="password" v-model="confirmPass"
                            class="focus:border-cyan-600 rounded-lg px-4 border-b w-full pb-2 border-[#4b39ef] placeholder-gray-500 mb-8"
                            placeholder="Confirmez le mot de passe" />
                    </div>
                    <div class="flex justify-center my-3">
                        <button
                            class="rounded-lg p-2 w-full sm:w-56  bg-gradient-to-r from-[#4b39ef] to-cyan-600 text-white text-lg font-semibold"
                            @click.prevent="createAdmin">
                            Valider
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>