<script setup>
import Aside from '@/Layouts/Header.vue';
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import { ref, watch } from 'vue';
import { Head, useForm } from '@inertiajs/vue3';

const props = defineProps({
    allUsers: {
        type: Object,
        default: () => ({}),
    },

    event: {
        type: String,
    }
});

const form = useForm({
    search: ''
})

let showDelete = ref(false);
let user_id = ref(null);
let data = ref(null);
let donnees = ref(null);
let user_role = ref(null);
let cle = ref(null);

// fonction pour affecter l'id d'un utilisateur à une variable
const edit = (id) => {
    cle.value = id;
}

// fonction pour modifier le rôle d'un utilisateur
const editRole = (id, role) => {
    axios.post(route("admin.updateuser"), {
        user_id: id,
        user_role: role
    }).then(response => {
        donnees.value = response.data.allUsers;
    })
}

// fonction pour donner l'ordre alphabétique des noms de la table users
const orderName = () => {
    axios.post(route("admin.orderUser")).then(response => {
        data.value = true;
        donnees.value = response.data.allOrders;
    })
}

const orderNameDesc = () => {
    axios.post(route("admin.orderUserDesc")).then(response => {
        data.value = null;
        donnees.value = response.data.allOrders;
    })
}

// code permettant d'afficher le modal de suppression des utlisateurs
const showModalDelete = (id) => {
    user_id.value = id;
    showDelete.value = true
}

// code permettant de faire disparaitre le modal de suppression des utlisateurs
const closeDelete = () => {
    showDelete.value = false
}

// function pour supprimer un utilisateur
const deleteUser = (id) => {
    axios.post(route("admin.destroy"), {
        userid: id
    }).then(response => {
        showDelete.value = false;
        donnees.value = response.data.allUsers;
    })
}

// fonction qui fait une recherche dans la table users pour retourner tous les utilisateurs qui ont ces caractères dans leurs noms
const searchValue = (searchval) => {
    axios.post(route("admin.searchUser"), {
        value: searchval
    }).then(response => {
        donnees.value = response.data.resultSearch;
    })
}

</script>

<template>
    <Head title="Admin - Gestionnaire des utilisateurs" />

    <body class="bg-[#f1f4f8] flex gap-1">
        <Aside />
        <div class="w-full">
            <div class='mx-8 mt-8 mb-12 msg space-y-6'>
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="p-3 mr-4 text-white bg-orange-600 rounded-full cursor-pointer">
                        <svg class="w-6 h-6 fill-current inline-block" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                            </path>
                        </svg>
                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                            Gestionnaire des utilisateurs
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            Admin/{{ $page.props.auth.user.name }}
                        </p>
                    </div>
                </div>
            </div>
            <section class="container px-4 mx-auto">

                <div class="w-full">
                    <div class="flex items-center mt-4 md:mt-0">
                        <span class="absolute">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5 mx-3 text-gray-400 dark:text-gray-600">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                            </svg>
                        </span>

                        <input type="text" placeholder="Rechercher un utilisateur" v-model="form.search"
                            @input="searchValue(form.search)"
                            class="block basis-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
                    </div>
                </div>

                <div class="flex flex-col mt-6">
                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                            <div
                                class="overflow-x-auto border border-gray-200 dark:border-gray-700 md:rounded-lg max-h-[500px]">
                                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                    <thead class="bg-gray-50 dark:bg-gray-800 sticky top-0">
                                        <tr>
                                            <th scope="col"
                                                class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                <button class="flex items-center gap-x-3 focus:outline-none">
                                                    <span>Noms des utilisateurs</span>

                                                    <svg class="h-3" viewBox="0 0 10 11" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" @click="orderName"
                                                        v-if="data == null">
                                                        <path
                                                            d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z"
                                                            fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                                                        <path
                                                            d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z"
                                                            fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                                                        <path
                                                            d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z"
                                                            fill="currentColor" stroke="currentColor" stroke-width="0.3" />
                                                    </svg>

                                                    <svg class="h-3" viewBox="0 0 10 11" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg" @click="orderNameDesc"
                                                        v-if="data !== null">
                                                        <path
                                                            d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z"
                                                            fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                                                        <path
                                                            d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z"
                                                            fill="currentColor" stroke="currentColor" stroke-width="0.1" />
                                                        <path
                                                            d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z"
                                                            fill="currentColor" stroke="currentColor" stroke-width="0.3" />
                                                    </svg>
                                                </button>
                                            </th>
                                            <th scope="col"
                                                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                Adresses mails</th>
                                            <th scope="col"
                                                class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                Status
                                            </th>
                                            <th scope="col"
                                                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                                        <tr v-if="donnees == null ? true : allUsers = donnees"
                                            v-for="(allUser, i) in allUsers" :key="i">
                                            <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                                <div class="flex items-center">
                                                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                                        <img class="object-cover w-full h-full rounded-full"
                                                            src="/images/account.png" alt="User" loading="lazy" />
                                                    </div>
                                                    <h2 class="font-medium text-gray-800 dark:text-white ">{{ allUser.name
                                                    }}
                                                    </h2>
                                                </div>
                                            </td>
                                            <td class="px-4 py-4 text-sm whitespace-nowrap">
                                                <div
                                                    class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                                    {{ allUser.email }}
                                                </div>
                                            </td>
                                            <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
                                                <div v-if="cle == allUser.id ? null : true"
                                                    class="inline px-3 py-1 text-sm font-normal text-gray-500 bg-gray-100 rounded-full dark:text-gray-400 gap-x-2 dark:bg-gray-800">
                                                    {{ allUser.role }}
                                                </div>
                                                <select v-if="cle == allUser.id ? cle : null"
                                                    class="rounded-lg bg-gray-300 text-black w-24" v-model="user_role"
                                                    @change="editRole(`${allUser.id}`, `${user_role}`)">
                                                    <option selected disabled>Selectionnez un role</option>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Abonné">Abonné</option>
                                                </select>
                                            </td>
                                            <td class="px-4 py-4 text-sm whitespace-nowrap">
                                                <div class="flex items-center space-x-4 text-sm" v-if="allUser.email !== 'admin1997@gmail.com'">
                                                    <button class="flex items-center
                                                        justify-between px-2 py-2 text-sm font-medium leading-5
                                                        text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none
                                                        focus:shadow-outline-gray" @click="edit(`${allUser.id}`)"
                                                        aria-label="Edit">
                                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                                            viewBox="0 0 20 20">
                                                            <path
                                                                d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                    <button @click="showModalDelete(`${allUser.id}`)"
                                                        class="supprime flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                                        aria-label="Delete">
                                                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                                            viewBox="0 0 20 20">
                                                            <path fill-rule="evenodd"
                                                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                                clip-rule="evenodd"></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- component -->
            <div class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-50 py-10"
                @click="closeDelete" v-if="showDelete == true">
            </div>
            <div class="absolute flex flex-col -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 max-h-full w-full max-w-xl overflow-y-auto sm:rounded-2xl bg-white"
                v-if="showDelete == true">
                <div class="w-full">
                    <div class="m-8 my-20 max-w-[400px] mx-auto">
                        <div class="mb-8">
                            <h1 class="mb-4 text-3xl text-red-600 font-extrabold">Alert</h1>
                            <p class="text-gray-600">Voulez-vous vraiment supprimer cet utilisateur ?</p>
                        </div>
                        <div class="space-y-4">
                            <button class="p-3 bg-red-600 rounded-full text-white w-full font-semibold" :value="user_id"
                                @click="deleteUser(user_id)">Supprimer cet utilisateur</button>
                            <button class="p-3 bg-white border rounded-full w-full font-semibold"
                                @click="closeDelete">Passer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>