<script setup>
import Aside from '@/Layouts/Header.vue';
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import { ref, watch } from 'vue';
import { Head, useForm } from '@inertiajs/vue3';

const props = defineProps({
    templatesResults: {
        type: Object,
        default: () => ({}),
    },

    countUsers: {
        type: Object,
        default: () => ({}),
    },

    usersPastMonth: {
        type: Object,
        default: () => ({}),
    },

    namePastMonth: {
        type: Object,
        default: () => ({}),
    },

    event: {
        type: String,
    }
});

const form = useForm({
    component_name: "",
    component_balise: "",
    component_html: "",
    component_svg: "",
    search: ''
});

let showDelete = ref(false);
let template_id = ref(null);
let composant = ref(false);
let error = ref('');
let validation_composant = ref(false);
let property = ref(false);
let donnees = ref(null);
let data = ref(null);

// Fonction pour afficher le formulaire de création des propriétés
const changeCom = () => {
    composant.value = !composant.value;
}

// Fonction pour afficher le formulaire de création des propriétés
const changePro = () => {
    property.value = !property.value;
}

// Fonction pour créer les composants
const createComponent = () => {
    if (form.component_name !== "" && form.component_balise !== "" && form.component_html !== "" && form.component_svg !== "") {
        axios.post(route("typecomponent.store"), { component_name: form.component_name, component_balise: form.component_balise, component_html: form.component_html, component_svg: form.component_svg }).then((response) => {
            if (response.data.error) {
                validation_composant.value = false;
                error.value = response.data.error;
            }
            else if (response.data.result === true) {
                form.component_svg = "";
                form.component_name = "";
                form.component_html = "";
                composant.value = false;
                validation_composant.value = true;
                error.value = ""
            }
        });
    }
}

// fonction qui fait une recherche dans la table templates pour retourner tous les templates qui ont ces caractères dans leurs noms
const searchValue = (searchval) => {
    axios.post(route("admin.searchTemplateName"), {
        value: searchval
    }).then(response => {
        donnees.value = response.data.resultSearch;
    })
}

// fonction pour donner l'ordre alphabétique des noms des pages de la table pagetemplates
const orderTemplateName = () => {
    axios.post(route("admin.orderTemplateName")).then(response => {
        data.value = true;
        donnees.value = response.data.allOrders;
    })
}

// fonction qui inverse l'ordre alphabétique des noms des pages de la table pagetemplates
const orderTemplateNameDesc = () => {
    axios.post(route("admin.orderTemplateNameDesc")).then(response => {
        data.value = null;
        donnees.value = response.data.allOrders;
    })
}

// code permettant d'afficher le modal de suppression des templates
const showModalDelete = (id) => {
    template_id.value = id;
    showDelete.value = true
}

// code permettant de faire disparaitre le modal de suppression des templates
const closeDelete = () => {
    showDelete.value = false
}

// function pour supprimer un template
const deleteTemplate = (id) => {
    axios.post(route("admin.destroyTemplate"), {
        templateId: id
    }).then(response => {
        showDelete.value = false
        donnees.value = response.data.templatesResults;
    })
}

</script>

<template>
    <Head title="Admin" />

    <body class="bg-[#f1f4f8] flex gap-1">
        <Aside />
        <div class="w-full">
            <div class='m-8 msg space-y-6'>
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="p-3 mr-4 text-black bg-yellow-500 rounded-full cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
                        </svg>
                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                            Bienvenu(e) sur le dashboard
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            Admin/{{ $page.props.auth.user.name }}
                        </p>
                    </div>
                </div>
            </div>
            <div class='m-8 msg space-y-6' v-if="validation_composant">
                <div class="bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3" role="alert">
                    <span class="flex font-bold text-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                        Ajout du composant réussi
                    </span>
                </div>
            </div>
            <div class='m-8 msg space-y-6' v-if="error !== ''">
                <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3" role="alert">
                    <span class="flex font-bold text-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                        </svg>
                        {{ error }}
                    </span>
                </div>
            </div>

            <div class="flex gap-5 m-8 items-start">
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="p-3 mr-4 text-white bg-orange-600 rounded-full cursor-pointer">
                        <svg class="w-6 h-6 fill-current inline-block" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                            </path>
                        </svg>
                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                            {{ countUsers }} utilisateurs
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            {{ usersPastMonth }} utilisateur(s) venu(s) en {{ namePastMonth }}
                        </p>
                    </div>
                </div>
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="p-3 mr-4 text-white bg-[#4b39ef] rounded-full cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
                        </svg>
                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                            100 abonné(e)s
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            23 abonné(e)s venu(s) en Juin
                        </p>
                    </div>
                </div>
                <div class="relative flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="p-3 mr-4 text-white bg-cyan-700 rounded-full cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6" @click.prevent="changeCom()">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>

                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                            Ajouter un composant
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            Nombre total de composants
                        </p>
                        <form v-if="composant"
                            class="max-w-[80%] bg-white rounded-lg shadow-xs dark:bg-gray-800 absolute top-30 left-5 p-4 border-2 z-40">
                            <textarea class="w-full border px-4 py-2 rounded focus:border-indigo-100 resize-none"
                                placeholder="Code SVG" v-model="form.component_svg"></textarea>
                            <input
                                class=" block w-full text-sm border-cyan-600 focus:border-red-400 focus:outline-none focus:border-indigo-100 form-input rounded mr-1 mb-1"
                                placeholder="Entrez le type du composant" v-model="form.component_name" />
                            <input
                                class=" block w-full text-sm border-cyan-600 focus:border-red-400 focus:outline-none focus:border-indigo-100 form-input rounded mr-1 mb-1"
                                placeholder="Entrez la balise du composant" v-model="form.component_balise" />
                            <textarea class="w-full border px-4 py-2 rounded focus:border-indigo-100 resize-none"
                                placeholder="Code html" v-model="form.component_html"></textarea>
                            <button
                                class="text-cyan-600 bg-transparent border border-solid border-cyan-600 hover:bg-cyan-600 hover:text-white active:bg-blue-600 font-bold text-sm px-3 py-2 rounded mr-1 mb-1 ease-linear transition-all duration-150"
                                type="button" @click.prevent="createComponent()">Enrégistrer</button>
                        </form>
                    </div>
                </div>
                <div class="relative flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="p-3 mr-4 text-white bg-cyan-700 rounded-full cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6" @click.prevent="changePro()">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                            Ajouter une propriété
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            Nombre total de propriétés
                        </p>
                        <form v-if="property"
                            class="max-w-[80%] bg-white rounded-lg shadow-xs dark:bg-gray-800 absolute top-30 left-5 p-4 border-2">
                            <input
                                class="block w-full mt-1 text-sm border-cyan-600 focus:border-red-400 focus:outline-none focus:border-indigo-100 form-input rounded mr-2 mb-2"
                                placeholder="Entrez la class tailwind" />
                            <button
                                class="text-cyan-600 bg-transparent border border-solid border-cyan-600 hover:bg-cyan-600 hover:text-white active:bg-blue-600 font-bold text-sm px-3 py-2 rounded  mr-1 mb-1 ease-linear transition-all duration-150"
                                type="button">Enrégistrer</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="flex items-start m-4">
                <div class="basis-3/5">
                    <!-- component -->
                    <section class="container px-4 mx-auto">

                        <div class="w-full">
                            <div class="flex items-center mt-4 md:mt-0">
                                <span class="absolute">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor"
                                        class="w-5 h-5 mx-3 text-gray-400 dark:text-gray-600">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                                    </svg>
                                </span>

                                <input type="text" placeholder="Recherche template" v-model="form.search"
                                    @input="searchValue(form.search)"
                                    class="block basis-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
                            </div>
                        </div>

                        <div class="flex flex-col mt-6">
                            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                                    <div
                                        class="overflow-x-auto max-h-[400px] border border-gray-200 dark:border-gray-700 md:rounded-lg">
                                        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                            <thead class="bg-gray-50 dark:bg-gray-800 sticky top-0">
                                                <tr>
                                                    <th scope="col"
                                                        class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                        <button class="flex items-center gap-x-3 focus:outline-none">
                                                            <span>Template</span>
                                                            <svg class="h-3" viewBox="0 0 10 11" fill="none"
                                                                @click="orderTemplateName" v-if="data == null"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z"
                                                                    fill="currentColor" stroke="currentColor"
                                                                    stroke-width="0.1" />
                                                                <path
                                                                    d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z"
                                                                    fill="currentColor" stroke="currentColor"
                                                                    stroke-width="0.1" />
                                                                <path
                                                                    d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z"
                                                                    fill="currentColor" stroke="currentColor"
                                                                    stroke-width="0.3" />
                                                            </svg>
                                                            <svg class="h-3" viewBox="0 0 10 11" fill="none"
                                                                @click="orderTemplateNameDesc" v-if="data !== null"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M2.13347 0.0999756H2.98516L5.01902 4.79058H3.86226L3.45549 3.79907H1.63772L1.24366 4.79058H0.0996094L2.13347 0.0999756ZM2.54025 1.46012L1.96822 2.92196H3.11227L2.54025 1.46012Z"
                                                                    fill="currentColor" stroke="currentColor"
                                                                    stroke-width="0.1" />
                                                                <path
                                                                    d="M0.722656 9.60832L3.09974 6.78633H0.811638V5.87109H4.35819V6.78633L2.01925 9.60832H4.43446V10.5617H0.722656V9.60832Z"
                                                                    fill="currentColor" stroke="currentColor"
                                                                    stroke-width="0.1" />
                                                                <path
                                                                    d="M8.45558 7.25664V7.40664H8.60558H9.66065C9.72481 7.40664 9.74667 7.42274 9.75141 7.42691C9.75148 7.42808 9.75146 7.42993 9.75116 7.43262C9.75001 7.44265 9.74458 7.46304 9.72525 7.49314C9.72522 7.4932 9.72518 7.49326 9.72514 7.49332L7.86959 10.3529L7.86924 10.3534C7.83227 10.4109 7.79863 10.418 7.78568 10.418C7.77272 10.418 7.73908 10.4109 7.70211 10.3534L7.70177 10.3529L5.84621 7.49332C5.84617 7.49325 5.84612 7.49318 5.84608 7.49311C5.82677 7.46302 5.82135 7.44264 5.8202 7.43262C5.81989 7.42993 5.81987 7.42808 5.81994 7.42691C5.82469 7.42274 5.84655 7.40664 5.91071 7.40664H6.96578H7.11578V7.25664V0.633865C7.11578 0.42434 7.29014 0.249976 7.49967 0.249976H8.07169C8.28121 0.249976 8.45558 0.42434 8.45558 0.633865V7.25664Z"
                                                                    fill="currentColor" stroke="currentColor"
                                                                    stroke-width="0.3" />
                                                            </svg>
                                                        </button>
                                                    </th>
                                                    <th scope="col"
                                                        class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                        Utilisateurs</th>
                                                    <th scope="col"
                                                        class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                        Status
                                                    </th>
                                                    <th scope="col"
                                                        class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                        Nombres de pages
                                                    </th>
                                                    <th scope="col"
                                                        class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody
                                                class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                                                <tr v-if="donnees == null ? true : templatesResults = donnees"
                                                    v-for="(template, index) in templatesResults" :key="index">
                                                    <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                                        <div>
                                                            <h2 class="font-medium text-gray-800 dark:text-white ">
                                                                {{ template.template_name }}
                                                            </h2>
                                                            <p class="text-sm font-normal text-gray-600 dark:text-gray-400">
                                                                Créé le {{ template.created_at.split("T")[0] }}
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                                        <div
                                                            class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                                                            {{ template.name }}
                                                        </div>
                                                    </td>
                                                    <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
                                                        <div
                                                            class="inline px-3 py-1 text-sm font-normal text-gray-500 bg-gray-100 rounded-full dark:text-gray-400 gap-x-2 dark:bg-gray-800">
                                                            {{ template.status }}
                                                        </div>
                                                    </td>
                                                    <td class="px-4 py-4 text-sm whitespace-nowrap">
                                                        <div>
                                                            <p
                                                                class="flex items-center justify-center w-6 h-6 -mx-1 text-xs text-blue-600 bg-blue-100 border-2 border-white rounded-full">
                                                                {{ template.countPages }}
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td class="px-4 py-4 text-sm whitespace-nowrap text-white">
                                                        <div class="flex items-center space-x-4 text-sm">
                                                            <a href="#" class="flex items-center
                                                        justify-between px-2 py-2 text-sm font-medium leading-5
                                                        text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none
                                                        focus:shadow-outline-gray" aria-label="View">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                    viewBox="0 0 24 24" stroke-width="1.5"
                                                                    stroke="currentColor" class="w-6 h-6">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                        d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                                                </svg>
                                                            </a>
                                                            <button @click="showModalDelete(`${template.id}`)"
                                                                class="supprime flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                                                aria-label="Delete">
                                                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor"
                                                                    viewBox="0 0 20 20">
                                                                    <path fill-rule="evenodd"
                                                                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                                        clip-rule="evenodd"></path>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="basis-2/5">
                    <div class="bg-[#f1f4f8]">
                        <div class="pt-0 pr-4 pb-0 pl-4 mt-0 mr-auto mb-0 ml-auto max-w-7xl sm:px-6 lg:px-8">
                            <div
                                class="pt-0 pr-2 pb-0 pl-2 mt-0 mr-auto mb-0 ml-auto sm:flex sm:items-center sm:justify-between">
                                <div>
                                    <h2 class="text-xl font-bold text-gray-900">Nos abonnements</h2>
                                </div>
                            </div>
                            <div
                                class="shadow-xl mt-3 mr-0 mb-0 ml-0 pt-4 pr-10 pb-4 pl-10 flow-root rounded-lg sm:py-2 bg-gray-400">
                                <div class="pt--10 pr-0 pb-10 pl-0">
                                    <div class="pt-5 pr-0 pb-2 pl-0 mt-4 mr-0 mb-0 ml-0 border-b-2">
                                        <div class="sm:flex sm:items-center sm:justify-between sm:space-x-5">
                                            <div class="flex items-center flex-1 min-w-0">
                                                <img src="https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/SlackLogo_CompanyNews_SecondaryAubergine_Hero.jpg?d=500x500&amp;f=fill"
                                                    class="flex-shrink-0 object-cover rounded-full btn- w-10 h-10" />
                                                <div class="mt-0 mr-0 mb-0 ml-4 flex-1 min-w-0">
                                                    <h3 class="text-lg font-bold text-gray-800 truncate">Premiun</h3>
                                                </div>
                                            </div>
                                            <div
                                                class="mt-4 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-14 flex items-center sm:space-x-6 sm:pl-0 sm:mt-0">
                                                <a href="#" class="bg-cyan-700 pt-2 pr-6 pb-2 pl-6 text-lg font-medium text-gray-100 transition-all
                    duration-200 hover:bg-gray-700 rounded-lg">299,99$</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-5 pr-0 pb-2 pl-0 mt-4 mr-0 mb-0 ml-0 border-b-2">
                                        <div class="sm:flex sm:items-center sm:justify-between sm:space-x-5">
                                            <div class="flex items-center flex-1 min-w-0">
                                                <img src="https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/SlackLogo_CompanyNews_SecondaryAubergine_Hero.jpg?d=500x500&amp;f=fill"
                                                    class="flex-shrink-0 object-cover rounded-full btn- w-10 h-10" />
                                                <div class="mt-0 mr-0 mb-0 ml-4 flex-1 min-w-0">
                                                    <h3 class="text-lg font-bold text-gray-800 truncate">Premiun</h3>
                                                </div>
                                            </div>
                                            <div
                                                class="mt-4 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-14 flex items-center sm:space-x-6 sm:pl-0 sm:mt-0">
                                                <a href="#" class="bg-orange-600 pt-2 pr-6 pb-2 pl-6 text-lg font-medium text-gray-100 transition-all
                    duration-200 hover:bg-gray-700 rounded-lg">199,99$</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-5 pr-0 pb-2 pl-0 mt-2 mr-0 mb-0 ml-0">
                                        <div class="sm:flex sm:items-center sm:justify-between sm:space-x-5">
                                            <div class="flex items-center flex-1 min-w-0">
                                                <img src="https://d34u8crftukxnk.cloudfront.net/slackpress/prod/sites/6/SlackLogo_CompanyNews_SecondaryAubergine_Hero.jpg?d=500x500&amp;f=fill"
                                                    class="flex-shrink-0 object-cover rounded-full btn- w-10 h-10" />
                                                <div class="mt-0 mr-0 mb-0 ml-4 flex-1 min-w-0">
                                                    <h3 class="text-lg font-bold text-gray-800 truncate">Premiun</h3>
                                                </div>
                                            </div>
                                            <div
                                                class="mt-4 mr-0 mb-0 ml-0 pt-0 pr-0 pb-0 pl-14 flex items-center sm:space-x-6 sm:pl-0 sm:mt-0">
                                                <a href="#" class="bg-[#4b39ef] pt-2 pr-6 pb-2 pl-6 text-lg font-medium text-gray-100 transition-all
                    duration-200 hover:bg-gray-700 rounded-lg">99,99$</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-slate-800 bg-opacity-50 flex justify-center items-center absolute top-0 right-0 bottom-0 left-0"
                    @click="closeDelete" v-if="showDelete == true">
                </div>
                <div v-if="showDelete == true"
                    class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 bg-white px-14 py-14 rounded-md text-center">
                    <h2 class="text-xl mb-4 font-bold text-slate-500">Voulez-vous supprimer ce template ?</h2>
                    <button class="w-1/2 bg-red-500 px-4 py-2 rounded-md text-md text-white"
                        @click="closeDelete">Annuler</button>
                    <button class="w-2/5 bg-indigo-500 px-7 py-2 ml-2 rounded-md text-md text-white font-semibold"
                        :value="template_id" @click="deleteTemplate(template_id)">Supprimer</button>
                </div>
            </div>
        </div>
    </body>

<!-- </Header> --></template>