<script setup>
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import Dropdown from '@/Components/Dropdown.vue';
import DropdownLink from '@/Components/DropdownLink.vue';
import NavLink from '@/Components/NavLink.vue';
import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import { router } from '@inertiajs/vue3'
import Icon from '@/Components/Icons/Icons.vue'
import { Link } from '@inertiajs/vue3';
import { ref } from 'vue';


const searchInput = ref('');

// Gérer les événements de recherche
function handleSearch() {
    console.log('Recherche effectuée :', searchInput.value);
}

const showingNavigationDropdown = ref(false);
</script>

<template>
    <body class="bg-[#f1f4f8] h-screen">
        <div class="flex h-screen overflow-scroll">
            <aside
                class="bg-white fixed left-0 h-[97%] bottom- top-1  shadow-xl rounded-xl text-[#03224c] flex flex-col justify-between w-[17.5rem] m-3 p-4">
                <div>
                    <ApplicationLogo />
                    <div class="mt-8">
                        <ul class="flex flex-col gap-3 ml-2">
                            <li class="text-white shadow bg-[#4b39ef] py-2 px-3 cursor-pointer rounded-lg text-lg w-full">
                                <Link href="/dashboard">
                                Projets
                                </Link>
                            </li>
                            <li
                                class="text-[#03224c] shadow hover:bg-gray-100 py-2 px-3 cursor-pointer rounded-lg text-lg w-full">
                                <Link href="">
                                MarketPlace
                                </Link>
                            </li>
                            <li
                                class="text-[#03224c] shadow hover:bg-gray-100 py-2 px-3 cursor-pointer rounded-lg text-lg w-full">
                                <Link href="">
                                Ressources
                                </Link>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="mb-4">
                    <a :href="route('profile.edit')"
                        class="flex flex-col px-2 py-3 mb-2 border shadow-md cursor-pointer rounded-xl">
                        <span>{{ $page.props.auth.user.name
                        }}</span>
                        <span class="text-[#39d2c0] ">{{ $page.props.auth.user.email
                        }}</span>
                    </a>
                    <div class="flex justify-between">

                        <a v-if="$page.props.auth.user.role === 'Admin'" :href="route('admin')" method="post" as="button"
                            class="flex items-center px-1 py-1 justify-center text-white bg-teal-600 rounded-md hover:bg-teal-700">
                            <Icon name="admin" />
                           <span class="mt-1"> Admin Panel</span>
                        </a>
                        <a v-if="$page.props.auth.user.role === 'Abonné'" :href="route('home')" method="post" as="button"
                            class="flex items-center px-1 py-1 justify-center text-white bg-teal-600 rounded-md hover:bg-teal-700">
                            <Icon name="homeIcon" />
                           <span class="mt-1"> Acceuil</span>
                        </a>
                        <a  :href="route('logout')" method="post" as="button"
                            class="flex items-center justify-center px-1 py-1 text-white bg-red-600 rounded-md hover:bg-red-700">
                            <Icon name="logout" />
                           <span class="mt-1"> Déconnexion</span>
                        </a>
                    </div>
                    
                </div>
            </aside>


            <div class="w-full ml-[19rem]">
                <slot />
            </div>

        </div>

    </body></template>
