<script setup>
import { ref } from 'vue';
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import Dropdown from '@/Components/Dropdown.vue';
import DropdownLink from '@/Components/DropdownLink.vue';
import NavLink from '@/Components/NavLink.vue';
import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import { Link } from '@inertiajs/vue3';
import NavBarBuilder from '@/Components/Builder/NavBarBuilder.vue';
// import AsideBarBuilder from '@/Components/Builder/AsideBarBuilder.vue';
// import AsideBarLeft from "@/Components/Builder/AsideBarLeft.vue";
import AsideBar from "@/Components/Builder/AsideBarRight.vue";

const showingNavigationDropdown = ref(false);

</script>

<template>
    <NavBarBuilder/>
    <AsideBarBuilder/>
    <!-- <AsideBarLeft/> -->
    <AsideBar/>
    <slot/>
 
</template>