<script setup>
import { Link } from '@inertiajs/vue3';
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import Icons from '@/Components/Icons/Icons.vue';
import { ref } from 'vue';

// import router from "./router";
defineProps({
    msg: {
        type: String,
        required: true
    }
})


const menuVisible = ref(false);
const showClosebtn = ref(false);
const showMenubtn = ref(true);

const showMenu = () => {
    menuVisible.value = !menuVisible.value
    showClosebtn.value = true;
    showMenubtn.value = false;
}

const closeMenu = () => {
    menuVisible.value = !menuVisible.value
    showClosebtn.value = false;
    showMenubtn.value = true;
}
</script>

<template>
    <div class="sticky top-0 z-50 py-4 bg-white shadow-lg">
        <div class="flex items-center justify-between px-20 py-2 lg:container lg:mx-auto ">
            <Link href="/" class="w-32 h-10">
            <ApplicationLogo />
            </Link>

            <div>
                <nav class="hidden lg:flex">
                    <ul class="flex items-center justify-center gap-4 font-semibold cursor-pointer text-[#03224c]">


                        <li class="hover:text-[#39d2c0] hover:border-b hover:border-b-green-300">
                            <a href="/">Accueil</a>
                        </li>
                        <li class="hover:text-[#39d2c0] hover:border-b hover:border-b-green-300">
                            <a href="#">Templates</a>
                        </li>
                        <li class="hover:text-[#39d2c0] hover:border-b hover:border-b-green-300">
                            <a href="#">Nouveautés</a>
                        </li>
                        <li class="hover:text-[#39d2c0] hover:border-b hover:border-b-green-300">
                            <a href="#">A propos</a>
                        </li>

                    </ul>
                </nav>

                <nav v-if="menuVisible">
                    <ul
                        class="absolute bg-white border rounded-xl shadow-lg text-center container mx-auto top-[4rem] left-0 right-0   font-semibold cursor-pointer text-[#03224c] flex flex-col gap-5 py-4">

                        <li class="hover:text-[#39d2c0] ">
                            <a href="/">Accueil</a>
                        </li>
                        <li class="hover:text-[#39d2c0] ">
                            <a href="#">Templates</a>
                        </li>
                        <li class="hover:text-[#39d2c0] ">
                            <a href="#">Nouveautés</a>
                        </li>
                        <li class="hover:text-[#39d2c0] ">
                            <a href="#">A propos</a>
                        </li>

                        <li class="hover:text-[#39d2c0]  ">
                            <a href="/login">Connexion</a>
                        </li>

                        <li class="flex items-center justify-center text-sm text-white uppercase ">
                            <a class="bg-[#4b39ef] hover:bg-[#39d2c0] pt-[.4rem] rounded-full py-1 px-3"
                                href="/register">Inscription</a>
                        </li>

                    </ul>
                </nav>
            </div>
            <div class="hidden lg:flex">
                <ul class="flex items-center justify-center gap-4 font-semibold cursor-pointer">
                    <li class="hover:text-[#39d2c0]  hover:border-b hover:border-b-green-300">
                        <a href="/login">Connexion</a>
                    </li>

                    <li
                        class="uppercase text-sm text-white bg-[#4b39ef] flex justify-center items-center py-1 px-3 pt-[.4rem]  rounded-full hover:bg-[#39d2c0]">
                        <a href="/register">Inscription</a>
                    </li>
                </ul>
            </div>
            <div class="lg:hidden">
                <Icons name="menubtn" @click="showMenu" v-if="showClosebtn == false" />
                <Icons name="closebtn" @click="closeMenu" v-if="showMenubtn == false" />
            </div>
        </div>
    </div>


    <div>
        <slot />
    </div>
</template>

<!-- class="w-full sm:max-w-md mt-6 px-6 py-4 bg-white overflow-hidden sm:rounded-lg" -->
